.login_image{
    width: 60%;
}   

.login-input{
    margin-bottom: 0px !important;
}

.error-level{
    font-size: 14px;
    font-style: italic;
}

.action-top-btn{
    padding: 6px 10px !important;
}

.input-select{
    width: 100%;
}