<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <button id="sidebarToggleTop" (click)="openModal(menuTemplate)"
        class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
            <input type="text"
                class="form-control bg-light border-0 small"
                placeholder="Search for..."
                aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#"
                id="searchDropdown"
                role="button"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
            </a>
            <div
                class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form
                    class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                        <input type="text"
                            class="form-control bg-light border-0 small"
                            placeholder="Search for..."
                            aria-label="Search"
                            aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary"
                                type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>
        <!-- <div class="topbar-divider d-none d-sm-block"></div> -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#"
                id="userDropdown"
                role="button"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small" *ngIf="is_authenticated"> 
                    {{ currentUser.full_name }}
                </span>
                <img class="img-profile rounded-circle" src="{{ profile_image }}">
            </a>
            <div
                class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"
                    data-toggle="modal"
                    data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
            </div>
        </li>
    </ul>
</nav>

<ng-template #menuTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            <div class="sidebar-brand-text mx-3">
                <i class="fa-solid fa-calculator rotate-n-15"></i> CASIO Admin 
            </div>
        </h4>
        <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="modalRef?.hide()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body menu-custom-modal">
        <div class="col-lg-12">
            <ul class="location">
               <li>
                <a [routerLink]="['/index']" (click)="modalRef?.hide()"><i class="fas fa-fw fa-tachometer-alt"></i><span> Dashboard</span></a>
               </li>
               <li>
                    <a [routerLink]="['/class-list']" (click)="modalRef?.hide()">
                        <i class="fas fa-fw fa-list"></i>
                        <span> Class List</span>
                    </a>
               </li>
               <li>
                    <a [routerLink]="['/chapter-list']" (click)="modalRef?.hide()">
                        <i class="fas fa-fw fa-book"></i>
                        <span> Chapter List</span>
                    </a>
               </li>
               <li>
                    <a class="nav-link" [routerLink]="['/topic-list']" (click)="modalRef?.hide()">
                        <i class="fas fa-fw fa-clipboard-list"></i>
                        <span> Topic List</span>
                    </a>
               </li>
               <li>
                    <a class="nav-link" [routerLink]="['/shop-list']" (click)="modalRef?.hide()">
                        <i class="fa-solid fa-store"></i>
                        <span> Store/Dealer List</span>
                    </a>
               </li>
               <li>
                    <a class="nav-link" [routerLink]="['/query-list']" (click)="modalRef?.hide()">
                        <i class="fa-solid fa-clipboard-question"></i>
                        <span> Query List</span>
                    </a>
               </li>
               <li>
                    <a class="nav-link" [routerLink]="['/notification-list']" (click)="modalRef?.hide()">
                        <i class="fas fa-fw fa-bell"></i>
                        <span> Notifications</span>
                    </a>
               </li>
               <li>
                    <a class="nav-link" (click)="userLogout()" (click)="modalRef?.hide()">
                        <i class="fas fa-fw fa-power-off"></i>
                        <span> Logout</span>
                    </a>
               </li>
            </ul>
         </div>
    </div>
  <!-- <div class="modal-body text-center">
    <p class="text-danger">Menu</p>
    <button type="button" class="btn btn-outline-danger mx-2" (click)="confirmGotoPage()" >Delete</button>
    <button type="button" class="btn btn-outline-secondary" (click)="decline()" >No</button>
  </div> -->
</ng-template>