<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">OSD List</h1>
</div>
<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary"> All OSD List</h6>
                <a (click)="openModal(template)" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="fas fa-plus fa-sm text-white-50"></i> Add New OSD
                </a>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Dealer</th>
                            <th>Distributor</th>
                            <th>ASM/RSM</th>
                            <th>Division</th>
                            <th>Address</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let item of shopList; let i = index;">
                            <td>{{ item.code }}</td>
                            <td>{{ item.dealer_name }}</td>
                            <td>{{ item.distributor_name }}</td>
                            <td>{{ item.asm_rsm_name }}</td>
                            <td>{{ item.division }}</td>
                            <td>{{ item.outlet_address }}</td>
                            <td>
                              <span *ngIf="item.is_active" class="badge badge-pill badge-success">Active</span>
                              <span *ngIf="!item.is_active" class="badge badge-pill badge-secondary">Inactive</span>
                            </td>
                            <td>
                                <a (click)="openEditModal(item, template)" class="btn btn-primary btn-icon-split btn-sm mx-2">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-pencil"></i>
                                    </span>
                                    <span class="text">Edit</span>
                                </a>

                                <a (click)="deleteConfirmModal(item, confirmDeleteTemplate)" class="btn btn-danger btn-icon-split btn-sm">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                    <span class="text">Delete</span>
                                </a>
                            </td>
                        </tr>
                        <tr *ngIf="shopList.length <= 0">
                            <td colspan="5">
                                <span>No Data Found!</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h5 class="modal-title pull-left"><i class="fa-solid fa-folder-plus"></i> {{ modalTitle }}</h5>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalHide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="p-4 mb-2" [formGroup]="entryForm">
        <h6 class="">Code</h6>
        <div class="input-group login-input">
            <input type="text" class="form-control" formControlName="code"
                [ngClass]="{ 'is-invalid': submitted && f['code'].errors }" placeholder="Code" autocomplete="off">
        </div>
        <div class="input-group mb-3">
            <div *ngIf="submitted && f['code'].errors" class="error-text">
                <span *ngIf="f['code'].errors?.['required']" class="text-danger error-level"> Code is required</span>
            </div>
        </div>
        <h6 class="">Dealer</h6>
        <div class="input-group login-input">
            <input type="text" class="form-control" formControlName="dealer_name"
                [ngClass]="{ 'is-invalid': submitted && f['dealer_name'].errors }" placeholder="Dealer Name" autocomplete="off">
        </div>
        <div class="input-group mb-3">
            <div *ngIf="submitted && f['dealer_name'].errors" class="error-text">
                <span *ngIf="f['dealer_name'].errors?.['required']" class="text-danger error-level"> Dealer Name is required</span>
            </div>
        </div>
        <h6 class="">Distributor Name</h6>
        <div class="input-group login-input">
            <input type="text" class="form-control" formControlName="distributor_name"
                [ngClass]="{ 'is-invalid': submitted && f['distributor_name'].errors }" placeholder="Distributor Name" autocomplete="off">
        </div>
        <div class="input-group mb-3">
            <div *ngIf="submitted && f['distributor_name'].errors" class="error-text">
                <span *ngIf="f['distributor_name'].errors?.['required']" class="text-danger error-level"> Distributor Name is required</span>
            </div>
        </div>
        <h6 class="">Division</h6>
        <div class="input-group login-input">
            <input type="text" class="form-control" formControlName="code"
                [ngClass]="{ 'is-invalid': submitted && f['division'].errors }" placeholder="Division" autocomplete="off">
        </div>
        <div class="input-group mb-3">
            <div *ngIf="submitted && f['division'].errors" class="error-text">
                <span *ngIf="f['division'].errors?.['required']" class="text-danger error-level"> Division is required</span>
            </div>
        </div>
        <h6 class="">ASM/RSM Name</h6>
        <div class="input-group login-input">
            <input type="text" class="form-control" formControlName="asm_rsm_name"
                [ngClass]="{ 'is-invalid': submitted && f['asm_rsm_name'].errors }" placeholder="ASM/RSM Name" autocomplete="off">
        </div>
        <div class="input-group mb-3">
            <div *ngIf="submitted && f['asm_rsm_name'].errors" class="error-text">
                <span *ngIf="f['asm_rsm_name'].errors?.['required']" class="text-danger error-level"> ASM/RSM Name is required</span>
            </div>
        </div>
        <h6 class="">Outlet Address</h6>
        <div class="input-group login-input">
            <input type="text" class="form-control" formControlName="outlet_address"
                [ngClass]="{ 'is-invalid': submitted && f['outlet_address'].errors }" placeholder="Outlet Address" autocomplete="off">
        </div>
        <div class="input-group mb-3">
            <div *ngIf="submitted && f['outlet_address'].errors" class="error-text">
                <span *ngIf="f['outlet_address'].errors?.['required']" class="text-danger error-level"> Outlet Address is required</span>
            </div>
        </div>
        <h6 class="">Contact Person</h6>
        <div class="input-group login-input">
            <input type="text" class="form-control" formControlName="contact_person"
                [ngClass]="{ 'is-invalid': submitted && f['contact_person'].errors }" placeholder="Contact Person" autocomplete="off">
        </div>
        <div class="input-group mb-3">
            <div *ngIf="submitted && f['contact_person'].errors" class="error-text">
                <span *ngIf="f['contact_person'].errors?.['required']" class="text-danger error-level"> Contact Person is required</span>
            </div>
        </div>
        <h6 class="">Contact No</h6>
        <div class="input-group login-input">
            <input type="text" class="form-control" formControlName="contact_no"
                [ngClass]="{ 'is-invalid': submitted && f['contact_no'].errors }" placeholder="Contact No" autocomplete="off">
        </div>
        <div class="input-group mb-3">
            <div *ngIf="submitted && f['contact_no'].errors" class="error-text">
                <span *ngIf="f['contact_no'].errors?.['required']" class="text-danger error-level"> Contact No is required</span>
            </div>
        </div>
        <h6 class="">Latitude</h6>
        <div class="input-group login-input">
            <input type="text" class="form-control" formControlName="latitude"
                [ngClass]="{ 'is-invalid': submitted && f['latitude'].errors }" placeholder="Latitude" autocomplete="off">
        </div>
        <div class="input-group mb-3">
            <div *ngIf="submitted && f['latitude'].errors" class="error-text">
                <span *ngIf="f['latitude'].errors?.['required']" class="text-danger error-level"> Latitude is required</span>
            </div>
        </div>
        <h6 class="">Longitude</h6>
        <div class="input-group login-input">
            <input type="text" class="form-control" formControlName="longitude"
                [ngClass]="{ 'is-invalid': submitted && f['longitude'].errors }" placeholder="Longitude" autocomplete="off">
        </div>
        <div class="input-group mb-3">
            <div *ngIf="submitted && f['longitude'].errors" class="error-text">
                <span *ngIf="f['longitude'].errors?.['required']" class="text-danger error-level"> Longitude is required</span>
            </div>
        </div>
        <!--<div class="form-group mb-3">
            <label for="file">Thumbnail</label>
            <input formControlName="thumbnail" id="thumbnail" type="file" class="form-control" (change)="onSelectFile($event)">
            <div *ngIf="f['thumbnail'].touched && f['thumbnail'].invalid" class="alert alert-danger">
                <div *ngIf="f['thumbnail'].errors && f['thumbnail'].errors['required']">File is required.</div>
            </div>
        </div>-->
        <div class="form-group row">
            <div class="col-12">
                <div class="custom-control custom-checkbox col-form-label">
                  <input type="checkbox" formControlName="is_active" id="is_active" class="custom-control-input" style="left: 2px !important;" [ngClass]="{ 'is-invalid': submitted && f['is_active'].errors }">
                  <label class="custom-control-label" for="is_active"> Is Active?</label>
                </div>
            </div>
        </div>
        <button type="submit" (click)="formSubmit()" class="btn btn-success form-control">Submit</button>
    </form>
  </div>
</ng-template>

<ng-template #confirmDeleteTemplate>
  <div class="modal-body text-center">
    <p class="text-danger">Do you want to delete class?</p>
    <button type="button" class="btn btn-outline-danger mx-2" (click)="confirmDelete()" >Delete</button>
    <button type="button" class="btn btn-outline-secondary" (click)="declineDelete()" >No</button>
  </div>
</ng-template>


<block-ui></block-ui>