<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion d-none d-sm-none d-md-block" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" [routerLink]="['/index']">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fa-solid fa-calculator"></i>
        </div>
        <div class="sidebar-brand-text mx-3">CASIO Admin </div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/index']"><i class="fas fa-fw fa-tachometer-alt"></i><span>Dashboard</span></a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading mt-2">
        Master Settings
    </div>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/class-list']">
            <i class="fas fa-fw fa-list"></i>
            <span>Chapter List</span>
        </a>
    </li>
    <hr class="sidebar-divider d-none d-md-block">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/chapter-list']">
            <i class="fas fa-fw fa-book"></i>
            <span>Topic List</span>
        </a>
    </li>
    <hr class="sidebar-divider d-none d-md-block">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/topic-list']">
            <i class="fas fa-fw fa-clipboard-list"></i>
            <span>Video List</span>
        </a>
    </li>
    <hr class="sidebar-divider d-none d-md-block">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/osd-list']">
            <i class="fa-solid fa-store"></i>
            <span>OSD List</span>
        </a>
    </li>
    <hr class="sidebar-divider d-none d-md-block">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/query-list']">
            <i class="fa-solid fa-clipboard-question"></i>
            <span>Query List</span>
        </a>
    </li>
    
    <hr class="sidebar-divider d-none d-md-block">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/notification-list']">
            <i class="fas fa-fw fa-bell"></i>
            <span>Notifications</span>
        </a>
    </li>
    <hr class="sidebar-divider d-none d-md-block">
    <li class="nav-item">
        <a class="nav-link" (click)="userLogout()">
            <i class="fas fa-fw fa-power-off"></i>
            <span>Logout</span>
        </a>
    </li>
    <hr class="sidebar-divider d-none d-md-block">
</ul>